# Main Database
POSTGRES_USER=zenfa_user
POSTGRES_PASSWORD=<replace_with_32_byte_hex>
POSTGRES_DB=zenfa_db

# Backend Catalog
DATABASE_URL=postgresql://zenfa_user:<replace_with_db_password>@postgres:5432/zenfa_db
REDIS_URL=redis://redis:6379/0
SECRET_KEY=<replace_with_32_byte_hex>

# Backend B2C
B2C_DATABASE_URL=postgresql://zenfa_user:<replace_with_db_password>@postgres:5432/zenfa_b2c
B2C_REDIS_URL=redis://redis:6379/1
B2C_SECRET_KEY=<replace_with_32_byte_hex>